@import "@styles/common/variables.scss";

.review-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-text;
  background-color: $color-background-2;
  .review-main-container{
    width: 90%;
    .review-upper-container{
      width: 100%;
      text-align: center;
      align-items: center;
      padding: 20px;
      .review-header-detail{
        display: flex;
        justify-content: center;
        align-items: center;
        p{
          padding: 20px;
          width: 55%;
          font-size: $font-lg;
          line-height: 1.3;
        }
      }
    }
    .review-lower-container{
      margin: 30px;
      margin-bottom: 20px;
      .review-card{
        width: 100%;
        height: 300px;
        .talk-bubble {
          display: inline-block;
          position: relative;
          width: 100%;
          height: auto;
          border-radius: 5px;
          border: 1px solid $color-border-2;
          p{
            padding: 30px;
            line-height: 1.5;
          }
        }
        .tri-right.border.btm-left-in:before {
          content: ' ';
          position: absolute;
          width: 0;
          height: 0;
          left: 30px;
          right: auto;
          top: auto;
          bottom: -40px;
          border: 1px solid $color-border-2;
          border-color: $color-border-2 transparent transparent $color-border-2;
        }
        .tri-right.btm-left-in:after{
          content: ' ';
          position: absolute;
          width: 0;
          height: 0;
          left: 38px;
          right: auto;
          top: auto;
          bottom: -20px;
          border: 10px solid;
          border-color: $color-border-2 transparent transparent $color-border-2;
        }
        h6{
          margin-top: 40px;
          margin-bottom: 10px;
        }
      }
    }
  }
}