@import "../../styles/common/variables.scss";
@import "../../styles/common/global.scss";

.panel-white {
    background-color: $color-white;
    border-radius: 16px;
    margin-bottom: 30px;
    border: 1px solid $color-border-2;
    padding:20px;
    .panel_header {
        display: flex;
    }
}