@import "@styles/common/variables.scss";

.box-content {
  background: $color-page-background;
  display: inline-block;
  width: 100%;
  padding-right: 10px;
  overflow: auto;
  .title-icon {
    display: inline-flex;
    margin-top: 8px;
    margin-left: 16px;
    span {
      display: inline-block;
    }
    svg {
      height: 18px;
    }
  }
}
