@import "@styles/common/variables.scss";

.copyright-footer{
  border-top: 0.25px solid $color-border-2;
  padding: 35px;
  font-family: $font-text;
  span{
    padding-left: 50px;
    font-size: $font-xs;
    font-weight: 500;
  }
}