// @import "../../styles/common/variables.scss";


@import "../../styles/common/variables.scss";

.box-content {
  background: $color-page-background;
  display: inline-block;
  width: 100%;
  padding: 30px;
  .title-icon {
    display: inline-flex;
    margin-top: 8px;
    margin-left: 16px;
    span {
      display: inline-block;
    }
    svg {
      height: 18px;
    }
  }
}

.form{
    display: flex;
}
.form-card{
    background-color: white;
    border-radius: 8px;
}
// .form div{
//     margin-left: 10px;
//     margin-bottom: 10px;
//     padding: 5px;
// }
.form label{
    margin-bottom: 10px;
    color: #a2a7b6;
    font-size: 15px;
}
.form input{
    padding: 15px;
    border: 1px solid #e0e6f7;
    border-radius: 5px;
    font-size: 13px;
}
.container div{
    padding: 6px;
    font-size: 12px;
}
.coll-2-1 div{
    padding: 5px;
    font-size: 12px;
}
.form select{
    padding: 15px;
    border: 1px solid #e0e6f7;
    border-radius: 5px;
    font-size: 13px;
}
.form textarea{
    padding: 15px;
    border: 1px solid #e0e6f7;
    border-radius: 5px;
}
.coll-1{
    flex: 70%;
    height: 100%;
    margin-right: 20px;
    margin-top: 55px;
}
.coll-1 input{
    width: 98%;
    margin-left: 5px;
}
.coll-1 textarea{
    width: 98%;
    margin-left: 5px;
}
.coll-2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px;
    margin-top: 85px;
    margin-left: 10px;
    margin-right: 30px;
    width: 70%;
    border: 2px solid #e0e6f7;
    border-radius: 5px;
}
.coll-2-card{
    flex: 30%;
    margin-left: 5px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    padding: 5px;
}
.coll-2-1{
    flex: 50%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 15px;
}
.coll-2-2{
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 15px;
    flex: 50%;
    margin-top: 15px;
}
.coll-2-1 input{
    margin-bottom: 10px;
}
.coll-2-2 input{
    margin-bottom: 28px;
}
.submitButton{
    margin-left: 25px;
    margin-top: 20px;
}
.submit-btn{
    padding: 15px;
    margin-bottom: 30px;
    width: 100px;
    border: none;
    background-color: #e0e6f7;
    color: #3c65f5;
    border-radius: 5px;
}
.submit-btn:hover{
    background-color: #3c65f5;
    color: white;
}