@import "../../../styles/common/variables";

.blog-header{
  padding: 50px 50px 50px 100px;
  background-color: #eff4ff;
  @media(max-width: 700px){
    padding: 30px 30px 30px 30px;
  }
  p{
    margin-top: 15px;
    color: $color-text-paragraph-2;
    font-family: $font-text;
  }
}

.blog-container{
  padding: 40px 70px 30px 70px;
  width: 100%;
  @media(max-width: 700px){
    padding: 10px;
  }
  h2{
    padding-left: 30px;
    margin-bottom: 10px;
  }
  p{
    padding-left: 30px;
    font-family: $font-text;
  }
  span{
    font-family: $font-text;
  }
  .blog-body{
    padding: 20px 20px 20px 0px;
    display: grid;
    grid-template-columns: 70% 30%;
    @media (max-width: 900px){
      grid-template-columns: repeat(1, 1fr);
    }
    .blog-content{
      padding: 0px 10px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @media (max-width: 900px){
        grid-template-columns: repeat(1, 1fr);
      }
      .blog-card{
        margin: 10px;
        padding: 20px;
        border-radius: 20px;
        border: 1px solid $color-border-2;
        img{
          border-radius: 15px;
        }
        .category-btn{
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 10px 0px 10px;
          height: 10px;
        }
        h5{
          width: 80%;
          margin-bottom: 5px;
        }
        span{
          font-size: $font-sm;
          line-height: 1.5;
          color: $color-text-paragraph-2;
        }
        .btn-read-more{
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 10px 0px 10px;
          height: 30px;
          font-size: $font-sm;
        }
        .author{
          margin-top: 10px;
          display: flex;
          img{
            width: 35px;
            margin-right: 10px;
          }
          p{
            font-size: $font-sm;
            margin-bottom: 5px;
          }
        }
      }
    }
    .filter-form{
      height: 100%;
      padding: 20px;
      .blog-filter{
        padding: 25px;
        border: 1px solid $color-border-2;
        border-radius: 10px;
        .blog-filter-header{
          border-bottom: 1px solid $color-border-2;
          margin-bottom: 15px;
          h5{
            margin-bottom: 10px;
          }
        }
        .blog-categories{
          div{
            margin-bottom: 10px;
          }
          button{
            background: none;
            border: none;
            color: $color-brand;
            :hover{
              cursor: pointer;
            }
          }
        }
      }
      .enquiry-form{
        padding: 30px;
        border: 1px solid $color-border-2;
        margin-top: 30px;
        border-radius: 10px;
        .send-enquiry-header{
          margin-bottom: 20px;
          border-bottom: 1px solid $color-border-2;
          h5{
            margin-bottom: 10px;
          }
        }
        span{
          font-size: 12.25px;
          color: $color-red;
          font-family: $font-text;
        }
        input{
          width: 100%;
          height: 53px;
          border: 1px solid $border-color;
          border-radius: 5px;
          padding-left: 20px;
          margin-bottom: 10px;
        }
        .form-input-field{
          width: 100%;
          height: 50px;
          padding: 11px 15px 13px 20px;
          border-radius: 5px;
          border: 1px solid $color-border-2;
        }
        .error-input {
          width: 100%;
          height: 50px;
          padding: 11px 15px 13px 20px;
          border-radius: 5px;
          border: 1px solid $color-red;
        }
        textarea{
          width: 100%;
          height: 53px;
          border: 1px solid $border-color;
          border-radius: 5px;
          padding-left: 20px;
          padding-top: 20px;
          margin-bottom: 20px;
        }
        .query-contact-btn{
          background-color: $color-brand-2;
          color: $color-white;
          border-radius: 10px;
          margin-top: 3px;
        }
      }
      .we-hiring-banner{
        margin-top: 30px;
        background: url(https://companybench.com/assets/cb-new-style/Frontend/imgs/page/company/bg-hiring-right.svg);
        padding: 40px;
        background-position: 100px 120px;
        background-repeat: no-repeat;
        width: 100%;
        object-fit: contain;
        background-color: #F2F6FD;
        border: 1px solid #E0E6F7;
        height: 360px;
        border-radius: 10px;
        @media (max-width: 900px){
          display: none;
        }
        .we-hiring-banner-1{
          font-size: 24px;
          color: $color-border-1;
        }
        .we-hiring-banner-2{
          font-size: 36px;
          color: $color-text-paragraph-2;
        }
      }
    }
  }
}