@import "@styles/common/variables.scss";

.section-container{
  width: 100%;
  height: 70vh;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F4F7FF;
  .main-container{
    width: 90%;
    height: 100%;
    .box-trust{
      width: 100%;
      padding: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      .left-trust{
        color: $color-border-1;
        flex: 20%;
      }
      .right-logos{
        flex: 80%;
        .slider-container{
          width: 1000px;
          display: flex;
          align-items: center;
          justify-content: center;
          div{
            display: flex;
            align-items: center;
            :hover{
              cursor: pointer;
            }
          }
        }
      }
    }
    .row-intro{
      padding-top: 50px;
      padding-bottom: 50px;
      width: 100%;
      height: 100px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      justify-content: center;
      @media (max-width: 1000px){
        grid-template-columns: repeat(1, 1fr);
      }
      .youtube-intro{
        flex: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        .ytb-frame{
          width: 95%;
          border-radius: 20px;
          overflow: hidden;
          border: none;
        }
      }
      .text-intro{
        flex: 50%;
        .intro-text-heading{
          width: 85%;
          padding: 20px;
        }
        .intro-text-detail{
          background: url(https://companybench.com/assets/cb-new-style/Frontend/imgs/page/homepage3/check-box.svg);
          background-repeat:no-repeat;
          background-position: 20px 5px;
          p{
            width: 80%;
            padding-left: 50px;
            line-height: 27px;
            font-size: $font-md;
          }          
        }
      }
    }
  }
}