@import "../../../styles/common/variables.scss";

.hire-cust-banner{
    padding: 40px 150px 80px 150px;
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: $color-background;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 26%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
    .hire-cust-form{
        h1{
            margin: 20px 0px 20px 0px;
            font-size: 48px;
        }
        p{
            margin: 0px 0px 30px 0px;
            font-family: $font-text;
        }
        .input-name{
            height: 53px;
            border: 1px solid $border-color;
            padding-left: 20px;
            margin-bottom: 10px;
            border-top: 1px solid $color-brand-2;
            border-bottom: 1px solid $color-brand-2;
            border-left: 1px solid $color-brand-2;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-right: 1px solid $color-brand-2;
        }
        .input-email{
            height: 53px;
            border: 1px solid $border-color;
            padding-left: 20px;
            margin-bottom: 10px;
            border-top: 1px solid $color-brand-2;
            border-bottom: 1px solid $color-brand-2;
        }
        .hire-interest-btn{
            width: 100px;
            height: 53px;
            background-color: $color-brand-2;
            color: $color-white;
            border: none;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
    .banner-img{
        -webkit-animation: mover 1s infinite  alternate;
        animation: mover 1s infinite  alternate;
        @-webkit-keyframes mover {
            0% { transform: translateY(0); }
            100% { transform: translateY(-10px); }
        }
        @keyframes mover {
            0% { transform: translateY(0); }
            100% { transform: translateY(-10px); }
        }
        @media (max-width: 1000px){
          display: none;
        }
    }
}

.recent-candidate{
    font-family: $font-text;
    h2{
        text-align: center;
    }
    .sample-candidate-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        .sample-candidate-card{
            margin: 20px;
            border: 1px solid #E0E6F7;
            padding: 20px;
            border-radius: 10px;
            background: $color-background-2;
            .card-user-detail{
                display: flex;
                margin-right: 150px;
                margin-bottom: 30px;
                img{
                    width: 85px;
                    border-radius: 50%;
                }
                div{
                    padding: 20px;
                    p{
                        font-size: 12px;
                        color: $color-text-mutted;
                    }
                }
            }
            .user-more-detail{
                margin-top: 20px;
                padding: 15px;
                border-top: 1px solid $color-border-2;
                .user-more-detail-left{
                    float: left;
                    font-size: 14px;
                    color: $color-text-mutted;
                }
                .user-more-detail-right{
                    float: right;
                    font-size: 14px;
                    color: $color-text-mutted;
                }
            }
        }
    }
    .view-more-btn-container{
        display: flex;
        justify-content: center;
        align-items: center;
        button{
            padding: 15px 25px 15px 25px;
            background: $color-brand;
            color: $color-white;
            border: none;
            border-radius: 5px;
            margin: 20px 0px 30px 0px;
        }
    }
}

.skill-content-container{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 30px 100px 30px 100px;
    div{
        margin: 50px;
    }
    img{
        width: 100%;
        border-radius: 10px;
    }
    h2{
        margin-bottom: 20px;
    }
    p{
        line-height: 1.5;
        font-size: $font-md;
        color: $color-text-paragraph-2;
        font-family: $font-text;
    }
}

.skill-points-container{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 30px 100px 30px 50px;
    background-color: $color-border-3;
    .bulletpoints-container{
        margin: 50px;
    }
    .bulletpoints{
        display: flex;
        margin-bottom: 10px;
        img{
            width: 15px;
            height: 15px;
            margin-top: 5px;
            margin-right: 10px;
        }
        p{
            line-height: 1.5;
            font-size: $font-md;
            color: $color-text-paragraph;
            font-family: $font-text;
        }
    }
}

.hire-guide-container{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 80px 100px 80px 100px;
    background-color: #F4F7FF;
    .guide-content{
        div{
            background-color: $color-white;
            display: flex;
            width: 100%;
            align-items: center;
            box-shadow: 0 0 3px 2px #e6e6e6;
            margin-bottom: 30px;
            border-radius: 5px;
            padding: 12px 14px;
            img{
                width: 55px;
                padding: 10px;
                background-color: #e8edff;
                margin-right: 10px;
            }
        }
        h4{
            font-size: $font-xl;
            font-weight: 600;
        }
    }
    img{
        width: 100%;
        border-radius: 10px;
    }
    h2{
        margin-bottom: 20px;
    }
    p{
        line-height: 1.5;
        font-size: $font-md;
        color: $color-text-paragraph-2;
        font-family: $font-text;
    }
}

.hire-developer-faq{
    background-color: #F4F7FF;
    padding: 70px;
    h2{
        margin: 0px 0px 30px;
        text-align: center;
    }
    .faq-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @media (max-width: 1000px){
            grid-template-columns: repeat(1, 1fr);
        }
        .faq-card{
            background-color: $color-white;
            margin: 10px;
            padding: 30px;
            padding: 30px;
            border-radius: 8px;
            border: 1px solid $color-border-2;
            h4{
                margin: 0px 0px 15px;
            }
            p{
                color: $color-text-paragraph;
                font-size: $font-sm;
                line-height: 1.5;
                font-family: $font-text;
            }
        }
    }
}

.hire-enquiry-container{
    h2{
        text-align: center;
        padding: 60px 0px 0px;
    }
    .hire-developer-enquiry{
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 80px 100px 80px 100px;
        @media (max-width: 1000px){
            grid-template-columns: repeat(1, 1fr);
        }
        .enquiry-content{
            .hire-enquiry-form{
                padding: 30px;
                border: 1px solid $color-border-2;
                margin-top: 30px;
                border-radius: 10px;
                background-color: #f4f7ff;
                input{
                  width: 100%;
                  height: 53px;
                  border: 1px solid $border-color;
                  border-radius: 5px;
                  padding-left: 20px;
                  margin-bottom: 10px;
                }
                .form-input-field{
                    width: 100%;
                    height: 50px;
                    padding: 11px 15px 13px 20px;
                    border-radius: 5px;
                    border: 1px solid $color-border-2;
                }
                .error-input {
                    width: 100%;
                    height: 50px;
                    padding: 11px 15px 13px 20px;
                    border-radius: 5px;
                    border: 1px solid $color-red;
                }
                textarea{
                  width: 100%;
                  height: 53px;
                  border: 1px solid $border-color;
                  border-radius: 5px;
                  padding-left: 20px;
                  padding-top: 20px;
                  margin-bottom: 20px;
                }
                .query-contact-btn{
                  background-color: $color-brand-2;
                  color: $color-white;
                  border-radius: 10px;
                  margin-top: 3px;
                }
                span{
                    font-size: 12.25px;
                    color: $color-red;
                    font-family: $font-text;
                }
                .query-contact-btn{
                    width: 120px;
                    padding: 0px;
                }
            }
        }
    }
}

@media (max-width: 1000px){
    .hero-banner-img{
        display: none;
    }
    .hero-content{
        width: 100%;
    }
    .bulletpoints-container{
        width: 100%;
    }
}