@import "@styles/common/variables.scss";

.side-nav-container {
  background-color: white;
  width: 340px;
  height: 100%;
  position: relative;
  color: $color-white;
  transition: 0.4s;

  &.side-nav-container-NX {
    width: 78px;
  }
}

.side-nav-container-NX {
  width: 78px;
}

.nav-upper,
.nav-heading,
.nav-menu,
.menu-item {
  display: grid;
}

.nav-menu {
  grid-template-rows: repeat(7, 1fr);
}

.menu-item {
  height: 57px;
  display: flex;
  text-decoration: none;
  margin: auto 20px;
  padding: 15px;
  border-radius: 10px;
  justify-content: left;
  align-items: center;
  margin-bottom: 5px;
  &.active, &:hover {
    background: $color-brand-2;
    color: $color-white;
    path{
      stroke:  $color-white;
    }
  }
}



.menu-item img {
  width: 25px;
}
.menu-item img:hover {
  filter: invert(100%);
}

.menu-item p {
  margin-left: 5px;
}
.menu-item p:hover {
  color: white;
}

.menu-item-icon-only {
  height: 47px;
  width: 47px;
  padding: 10px;
  display: flex;
  color: grey;
  text-decoration: none;
  border-radius: 10px;
  justify-content: left;
  align-items: center;
}

.nav-heading {
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
}

.hamburger {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
  margin: -13px -18px;
  background-color: white;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 50%;
  height: 30px;
  width: 31px;
  padding: 5px;

  &.hamburger-in {
    background-image: url(https://companybench.com/icon-arrow-left.30ade3f52972d1898496.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 6px;
  }

  &.hamburger-out {
    background-image: url(https://companybench.com/icon-arrow-right.59e1848f9cbc18d7327a.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 8px;
  }
}
