@import "../../styles/common/variables.scss";

.candidate-table{
  width: 100%;
  transition-duration: 0.5s;
}

.candidate-table-collapsed{
  width: 49%;
  transition-duration: 0.5s;
}

.candidate-details{
  width: 49%;
  transition-duration: 0.5s;
}

.candidate-details-collapsed{
  display: none;
  transition-duration: 0.5s;
}