@import "../../styles/common/variables.scss";

.box-content {
  background: $color-page-background;
  display: inline-block;
  width: 100%;
  padding: 30px;
}
.candidate-card-wrapper {
  flex-wrap: wrap;
  margin: 0 -16px;
  .candidate-card-item {
    flex: 50%;
    padding: 0 16px;
  }
  .card-grid-2 .card-grid-2-image-rd figure img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
  }
}

.body-items{
  display: flex;
  height: 100%;
  width: 100%;
}
